.select-city-component {
    .cities-wrap {
        columns: 4;

        @media screen and (max-width: 768px) {
            columns: 3;
        }

        @media screen and (max-width: 460px) {
            columns: 2;
        }

        .city-alpha {
            padding: 0 20px 0 0;
            margin-bottom: 20px;
            break-inside: avoid;

            @media screen and (max-width: 460px) {
                padding: 0;
            }

        }
    }
}
